/* Ajuste de espaçamento no Carousel */
.carousel-home {
  margin-top: 150px; /* Adiciona mais espaço acima do carousel */
  margin-bottom: 100px; /* Espaçamento já existente abaixo */

}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda a altura do contêiner */
  position: relative;
}

.carousel-item img {
  max-width: 50%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto;    /* Mantém a proporção da imagem */
  display: block;  /* Remove o espaço extra abaixo da imagem */
}

.carousel-inner-home {
  position: relative;
  width: 100%;
  height: 100%; /* Altura total do contêiner */
  overflow: hidden; /* Oculta conteúdo excedente */
  margin-top: 5%; /* Ajuste do espaçamento superior */
  background-size: cover; /* Garante que a imagem de fundo cubra o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
}

.carousel-container {
  position: relative;
  width: 100%;
}

.vector-top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10px, 10px); /* Adjust as needed to position it correctly */
}

.vector-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10px, -10px); /* Adjust as needed to position it correctly */
}

.vector {
  width: 50px; /* Adjust the size as needed */
  height: auto;
}

.img-depoiments {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 20px; /* Espaçamento abaixo da foto */
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .carousel-item img {
    max-width: 80%; /* Ajusta o tamanho da imagem para telas menores */
  }
}

@media (max-width: 768px) {
  .carousel-home {
    margin-top: 50px;  /* Espaçamento menor em telas menores */
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    max-width: 100%; /* Ajusta o tamanho da imagem para telas muito pequenas */
  }
}
