<h1>Edit Appointment</h1>

<%= simple_form_for @appointment do |form| %>
  <div>
    <%= form.input :date, as: :datetime %>
  </div>

  <div>
    <%= form.button :submit, "Update Appointment" %>
  </div>
<% end %>
