<h1>Book an Available Appointment</h1>

<% if @available_appointments.any? %>
  <!-- Initialize the form to create a booking -->
  <%= simple_form_for :appointment_booking, url: patient_appointments_path(current_patient), method: :post do |f| %>
    <div class="form-group">
      <%= f.label :appointment_id, "Available Time Slots" %>
      <!-- Ensure the appointment_id is passed correctly -->
      <%= f.collection_select :appointment_id, @available_appointments, :id, :formatted_time_slot, prompt: "Select an available time slot" %>
    </div>
    <%= f.submit "Book This Appointment", class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>No available appointments at the moment.</p>
<% end %>

