<footer class="footer">
  <!-- Left side with logo2 and phone number -->
  <div class="footer-left">
    <%= image_tag 'logo.png', class: 'logo2' %>
  </div>

  <!-- Center content -->
  <div class="footer-center">
    <p class="text-muted">&copy; <%= Time.now.year %> Monaliza Freitas. All rights reserved.</p>
  </div>

  <!-- Right side with logo -->
  <div class="footer-right">
    <%= image_tag 'logo2.png', class: 'logo' %>
    <p class="phone-number">+55 (84) 99188-7551</p>
  </div>
</footer>
